
body {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("./assets/image/main-bcg.jpeg");
    width: 100%;
    height: 675px;
    background-size:cover;
    background-repeat: no-repeat;
    
    /* positioner l'image */
    background-position: 0px -180px;
    
    /* obtenir un ombrage */
    filter: brightness(0.5);

}

 hr{
    padding: 5px;
    border: 1px solid black;
    background: radial-gradient(circle, #e7b849, #6b8f3e);

}

.over p {
    color: #678e3e;
    font-family: "Grand Hotel", cursive;
    font-weight: 690;
    letter-spacing: 6px;
    font-size: 47px;
    text-align: center;
    margin-bottom: -15px;
    filter: brightness(2.5);
}

.title{
    padding: 10px;
}

.title p {
    font-size: 78px;
    font-family: catamaran, serif;
    color: white;
    text-align: center;
    margin-bottom: -57px;
    font-weight: bold;
    letter-spacing: 3px;
}

.explore {
    display: flex;
    justify-content: center;
}

.explore a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 25px 40px;
    background-color: #678e3e;
    outline: 3px solid #678e3e;
    outline-offset: 5px ;
    font-size: 15px;
    margin-right: 25px;
    margin-top: 65px;
}

.explore a p{
    font-size: 20px;
}

/* Style pour le bouton menu mobile */
.mobile-menu-toggle {
    padding: 25px 0px 0px 80px;
    background: none;
    border: none;
    font-size: 55px;
    cursor: pointer;
    color: #678e3e;
}

.mobile-menu-toggle:hover {
    color: #577b2f;
}

/* Style pour le menu mobile */
.mobile-nav {
    display: none; /* Masquer le menu mobile par défaut */
    flex-direction: column;
    position: absolute;
    top: 70px; 
    left: 30px;
    background-color: black;
    width: 25%;
    z-index: 1000;
}

.mobile-nav a {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: white;
}

/* Media Queries */
@media (max-width: 2000px) {
    /* Masquer le menu desktop */
    header nav {
        display: none;
    }

    /* Affiche le bouton menu mobile */
    .mobile-menu-toggle {
        display: block;
    }

    /* Affiche le menu mobile lorsqu'il est ouvert */
    .mobile-nav.open {
        display: flex;
    }
}

.principal{
    display: flex;
    text-align: center;
    font-family: catamaran, serif;
    background-color: #f1f5f8;
    height: 350px;
}

.principal h1{
    font-size: 25px;
    position: relative;
    top: 80px;
}

.principal p{
    display: inline-block;
    font-size: 25px;
    color: #4e82ae;
    position: relative;
    top: 90px;

}

.principal i{
    margin-top: 35px;
    position: relative;
    top: 35px;
}

.mug-hot i{
    content: '\f7b6';
    color: #678e3e;
    font-size: 60px;
}

.mug-hot h1{
    letter-spacing: 5px;
}

.champagne-glasses i{
    content: '\f7b6';
    color: #678e3e;
    font-size: 60px;
}

.bomb i{
    content: '\f1e2';
    color: #678e3e;
    font-size: 60px;
}

.recipe i{
    content: '\f79f';
    color: #678e3e;
    font-size: 60px;
}


/*  Section About Our-Tea Station */
.second {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.img-second img {
    width: 750px;
    height: 530px;
    border: 15px solid #577b2f;
    object-fit: cover;

}

.img-second img {
    transition: transform 0.5s;
}

.img-second:hover img {
    transform: scale(1.05);
  }


.second h2 {
    font-size: 75px;
    font-family: "Grand Hotel", cursive;
    color:#577b2f;
    letter-spacing: 12px;
    
}

.placement-text {
    display: block;
    margin-left: 60px;

}

.b {
    font-family: catamaran, serif;
    font-size: 70px;
    font-weight: bold;
    margin-top: -20px;
    letter-spacing: 3px;

}

.c {
    font-size: 26px;
    font-family: catamaran, serif;
    color: #92a9be;
}

.second-button button {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background-color: #678e3e;
    color: white;
    border: 3px solid #577b2f;
    cursor: pointer;
    font-size: 20px;
    font-family: catamaran, serif;
    letter-spacing: 4px;
    border-radius: 10px;

    transition: all 1s linear;

}

.second-button button:hover {
    background-color: #577b2f;
    cursor: pointer;

    transform: rotateY(360deg);
    transition-property: color, border ;
    border: 3px solid #678e3e;

}

.para2 {
    margin-top: 20px;
}


/*  Section Explore-Our Services */
.title-projects p {
    color: #678e3e;
    font-family: "Grand Hotel", cursive;
    font-weight: 690;
    letter-spacing: 6px;
    font-size: 35px;
    text-align: center;
}

.title-projects a {
    font-size: 30px;
    font-family: catamaran, serif;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#projects {
    padding: 50px ;
    margin-top: 50px;
}

#projects h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Aligne verticalement les items */
    flex-wrap: wrap; /* Permet aux cartes de se déplacer sur de nouvelles lignes */
    gap: 20px; /* Espace entre les cartes */
    padding: 20px; /* Un peu de padding autour */
    width: 100%;

}
    

.project-card {
    width: 300px;
    margin: 20px;
    background-color: #f1f5f8;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;

    
}

.project-card:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
}

.project-card img {
    width: 100%;
    height: 280px;
    object-fit: cover; /* Assure que l'image remplit le conteneur tout en conservant son ratio d'aspect */
    display: block; /* Supprime tout espace blanc en dessous de l'image */
    margin: 0 auto; /* Centre horizontalement */
}

.project-card h3 {
    font-size: 24px;
    margin: 10px 0;
}

.project-card p {
    padding: 0 10px;
    margin-bottom: 20px;
}

.project-card a {
    text-decoration: none;
    color: black;
}

.project-card .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    background: #678e3e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.project-card .btn:hover {
    background: #518b12;
}

.projects-container i {
    margin-right: 10px;
    color: #678e3e;
    font-size: 25px;
}


/*  Tous le code CSS en bas, représente le footer et la section Contact */

/* Section contact */
.section_contact {
    background-color: #f1f5f8;
    height: 60%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 50px;
    
}

.contact_info {
    flex: 1;
    padding-right: 2rem;
}

.contact_info p {
    letter-spacing: 3px;
    font-family: catamaran, serif;
}

.contact_info address {
    margin: 15px;;
}

.contact_info i {
    font-size: 20px;
    color: #678e3e;
}

.contact_info a {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 5px;
    color: #577b2f;
}

.contact_info a:hover {
    color: #518b12;
}

.email {
    margin-top: 15px;
}

.tel {
    margin-top: 15px;
}


.contact_form {
    background-color: #ffffff;
    border-radius: 5px;
    width: 30vw;
    padding: 40px;
}

.contact_form input {
    width: 90%;
}

.contact_form h3{
    color: #6a7f9a;
    text-align: center;
    font-family: catamaran, serif;
    font-size: 25px;
    margin-top: -30px;
    letter-spacing: 3px;

}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f1f5f8;
    border-radius: 5px;
    margin: 10px;
    height: 30px;
    border-style: none;
}


.btn-form button {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    padding: 0.5rem 1rem;
    background-color: #678e3e;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
   
}

/* Footer */
footer {
    background-color: #222222;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

footer nav ul li {
    margin: 0 0.5rem;
}

footer img {
    width: 24px; 
    height: 24px;
}

footer p {
    text-align: center;
    letter-spacing: 3px;
}
footer span{
    color: #678e3e;
}

.reseaux i {
    font-size: 22px;
    color: white;
}


/* Le code CSS qui se situe ci-dessous concerne le côté responsive du site 
qui s'ajuste en fonction de la taille de l'écran */

/* Ecran mobile */
@media  and (max-width: 600px) {
    
}

/* Ecran Tablette*/
@media  and (min-width: 601px) and (max-width: 1299px) {
    
}

/* Ecran Ordinateur */
@media  and (min-width: 1300px) {

}